<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<form action="/" method="post" >
		<table>
			<tr>
				<td><a href="/"><img src="{{url_for('static', filename='Untitled.png')}}" atl="get fucked" style="max-width:100%;height:auto;"/></a></td>
			</tr>
			{% if message %}
			<tr>
				<td><text>{{ message }}</text></td>
			</tr>
			{% endif %}
			<tr>
				<td><input type="text" name="term" id="term" style="font-size:4vw"></td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Search" name="submit" style="font-size:4vw">
					<input type="submit" value="Lucky Baby" name="lucky" style="font-size:4vw">
				</td>
			<tr>
		</table>
	</form>
	{% if existing %}
	<form action="/edit/" onsubmit="" name="existingForm" id="existingForm" method="post">
		<table>
			<tr>
				<th>Name</th>
				<th>Progress</th>
				<th>Clear</th>
			</tr>
			
			{%for i in existing.arguments.torrents %}
			<tr>
				<td>{{ i.name }}</td>
				<td><progress value={{ i.percentDone }}></progress></td>
				<td><button type="submit" value={{i.id}} name="clearExisting">Clear</button></td>
			</tr>
			{% endfor %}
		</table>	
	</form>
	{% endif %}
	
	{% if torrents %}
	<form action="/download/" onsubmit="" name="downloadForm" id="downloadForm" method="post">
		<input type="hidden" value={{ torrents }} name="torrents">
		<table>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Seeds</th>
				<th>Size</th>
				<th>Sub-Cat</th>
			</tr>
			
			{%for i in torrents %}
				<tr>
					<td>{{ i.title }}</td>
					<td>{{ i.time }}</td>
					<td>{{ i.seeds }}</td>
					<td>{{ i.size }}</td>
					<td>{{ i.subcat }}</td>
					<td><button type="submit" value={{ i.magnet }} name="download">Download</button></td>
				</tr>
			{% endfor %}
		</table>	
	</form>
	{% endif %}
</html>