<html>
	<head>
		<title>BabySearch</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="BabySearch is a full end-to-end magnet downloading ecosystem. Featuring VPN protection, download management, and more to come.">
	</head>
	<form action="/" method="post" >
		<table style="border: 0px;width: 70%;">
			<tr>
				<th style="border: 0px;" colspan="3" >
					<a href="/"><img src="{{url_for('static', filename='Untitled.png')}}" atl="get fucked" style="max-width:100%;height:auto;"/></a>
				</th>
			</tr>

			<tr>
				<td style="border: 0px;" colspan="2">
					<input type="text" name="term" id="term" style="font-size:2vw">
				</td>
				<td style="border: 0px;">
					<select style="font-size:2vw" name="cat" id="cat">
						<option value="0">All</option>
						<optgroup label="Audio">
						<option value="101">Music</option>
						<option value="102">Audio books</option>
						<option value="103">Sound clips</option>
						<option value="104">FLAC</option>
						<option value="199">Other</option>
						</optgroup>
						<optgroup label="Video">
						<option value="201">Movies</option>
						<option value="202">Movies DVDR</option>
						<option value="203">Music videos</option>
						<option value="204">Movie clips</option>
						<option value="205">TV shows</option>
						<option value="206">Handheld</option>
						<option value="207">HD - Movies</option>
						<option value="208">HD - TV shows</option>
						<option value="209">3D</option>
						<option value="299">Other</option>
						</optgroup>
						<optgroup label="Applications">
						<option value="301">Windows</option>
						<option value="302">Mac</option>
						<option value="303">UNIX</option>
						<option value="304">Handheld</option>
						<option value="305">IOS (iPad/iPhone)</option>
						<option value="306">Android</option>
						<option value="399">Other OS</option>
						</optgroup>
						<optgroup label="Games">
						<option value="401">PC</option>
						<option value="402">Mac</option>
						<option value="403">PSx</option>
						<option value="404">XBOX360</option>
						<option value="405">Wii</option>
						<option value="406">Handheld</option>
						<option value="407">IOS (iPad/iPhone)</option>
						<option value="408">Android</option>
						<option value="499">Other</option>
						</optgroup>
						<optgroup label="Porn">
						<option value="501">Movies</option>
						<option value="502">Movies DVDR</option>
						<option value="503">Pictures</option>
						<option value="504">Games</option>
						<option value="505">HD - Movies</option>
						<option value="506">Movie clips</option>
						<option value="599">Other</option>
						</optgroup>
						<optgroup label="Other">
						<option value="601">E-books</option>
						<option value="602">Comics</option>
						<option value="603">Pictures</option>
						<option value="604">Covers</option>
						<option value="605">Physibles</option>
						<option value="699">Other</option>
						</optgroup>
					</select>
				</td>
			</tr>
			<tr>
				<td style="border: 0px;" colspan="3">
					<input type="submit" value="Search" name="submit" style="font-size:2vw">
					<input type="submit" value="Lucky Baby" name="lucky" style="font-size:2vw">
				</td>
			<tr>
		</table>
	</form>
	{% if message %}
	<div><text>{{ message }}</text></div>
	{% endif %}
	<div style="align-self: center;">
		<style>
			table, th, td {
			  border: 1px solid black;
			  margin-left: auto;
			  margin-right: auto;
			}


		</style>
		<table style="width: 70%;" >
			{% if existing %}
				<form action="/edit/" onsubmit="" name="existingForm" id="existingForm" method="post">
					<tr>
						<th>Name</th>
						<th colspan="4">Progress</th>
						<th>Clear</th>
					</tr>

					{%for i in existing.arguments.torrents %}
					<tr>
						<td>{{ i.name }}</td>
						<td colspan="4"><progress value={{ i.percentDone }}></progress></td>
						<td><button type="submit" value={{i.id}} name="clearExisting">Clear</button></td>
					</tr>
					{% endfor %}
				</form>
			{% endif %}

			{% if torrents %}
				<form action="/download/" onsubmit="" name="downloadForm" id="downloadForm" method="post">
					<tr>
						<th>Name</th>
						<th>Date</th>
						<th>Seeds</th>
						<th>Size (GB)</th>
						<th>Sub-Cat</th>
						<th>Download</th>
					</tr>

					{%for i in torrents %}
						<tr>
							<td>{{ i.name }}</td>
							<td>{{ i.added }}</td>
							<td>{{ i.seeders }}</td>
							<td>{{ i.size }}</td>
							<td>{{ i.category }}</td>
							<td><button type="submit" value={{ i.magnet }} name="download">Download</button></td>
						</tr>
					{% endfor %}
				</form>
			{% endif %}
		</table>
	</div>
</html>
