<html>
	<head>
		<script language="JavaScript">
			function toggle(source) {
			  checkboxes = document.getElementsByName('download');
			  for(var checkbox in checkboxes)
				checkbox.checked = source.checked;
			}
		</script>
		<style>
			table, th, td {
			  border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<a href="/">
			<img src="{{url_for('static', filename='Untitled.png')}}" atl="get fucked" style="max-width:100%;height:auto;" />
		</a>
		<form action="/download/" onsubmit="" name="form1" id="form1" method="post">
			<table>
				<tr>
					<th><input type="checkbox" onClick="toggle(this)" /></th>
					<th>Name</th>
					<th>Date</th>
					<th>Seeds</th>
					<th>Sub-Cat</th>
				</tr>
				
				{%for i in range(0, count)%}
				<tr>
					<td><input class="downloads" type="checkbox" name="download" value={{torrents[i]['magnet']}} /></td>
					<td>{{ torrents[i]['title'] }}</td>
					<td>{{ torrents[i]['time'] }}</td>
					<td>{{ torrents[i]['seeds'] }}</td>
					<td>{{ torrents[i]['subcat'] }}</td>
				</tr>
				{% endfor %}
			</table>	
		  <input type="submit" value="Download" name="submit">
		</form>
	</body>
</html>