<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<form action="/baby-search/" method="post" >
		<table>
			<tr>
				<td>
					<img src="{{url_for('static', filename='Untitled.png')}}" atl="get fucked" style="max-width:100%;height:auto;" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="term" id="term" style="font-size:4vw">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Search" name="submit" style="font-size:4vw">
					<input type="submit" value="Lucky Baby" name="lucky" style="font-size:4vw">
				</td>
			<tr>
    </form>
</html>